<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
        
</head>
<body>
	<h1>Add book</h1>
	<div>
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
			<table class="table table-bordered">
			  <tr>
			    <th>Author</th>
			    <th>Title</th>
			    <th>ISBN</th>
			    <th>Year</th>
			    <th>Category</th>
			    <th>Action</th>
			  </tr>
			  <tr>
			    <td><input type="text" th:field="*{author}" /></td>
			    <td><input type="text" th:field="*{title}" /></td>
			    <td><input type="text" th:field="*{isbn}" /></td>
			    <td>	<input type="text" th:field="*{year}" /></td>
			    <td>
			    		<select id="categorylist" th:field="*{category}" class="form-control">
			       			<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
			    		</select>
			    </td>
			    <td><input type="submit" class="btn btn-success" value="Save"></input></td>
			  </tr> 
			</table>
				

		</form>
	</div>
</body>
</html>
