<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
    
</head>
<body>
	<h1>Spring Boot Bookstore</h1>
	<h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
	<form th:action="@{/logout}" method="post">
		<input type="submit" class="btn btn-danger" value="Sign Out"/>
	</form>
    <table class="table table-striped">
		<tr>
		    <th>Author</th>
		    <th>Title</th>
		    <th>ISBN</th>
		    <th>Year</th>
		    	<th>Category</th>
		    	<th>Action</th>
		</tr>
    	<tr th:each = "book : ${books}">
    		<td th:text="${book.author}"></td>
    		<td th:text="${book.title}"></td>
    		<td th:text="${book.isbn}"></td>
    		<td th:text="${book.year}"></td>
    		<td th:text="${book.category.name}"></td>
    			<!-- sec:authorize="hasAuthority('ADMIN')"  -->
 			<td>
 				<a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-info">Edit</a>
 				
 			<!-- 	<a th:href="@{/delete/{id}(id=${book.id})}" sec:authorize="hasRole('ADMIN')" class="btn btn-danger">Delete</a> -->
 				
 				<a th:href="@{/delete/{id}(id=${book.id})}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger">Delete</a>
	
 				
 			</td>
    	</tr>
     </table>
     
     <table class="table table-striped">
		<tr>
		    <th>Username</th>
		    <th>Password</th>
		    <th>Role</th>
		</tr>
		
		<tr th:each = "user : ${users}">
			<td th:text="${user.username}"></td>
	    		<td th:text="${user.passwordHash}"></td>
	    		<td th:text="${user.role}"></td>
		</tr>
			

	</table>

     	<a href="/add" class="btn btn-success">Add Book</a>
     
	 
</body>
</html>
